{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>政策、通告</title>#}
{#</head>#}
{#<body>#}
{#{% for item in items %}#}
{#    <p><a href="{{ item['url'] }}">{{ item['title'] }}</a></p>#}
{#{% endfor %}#}
{#</body>#}
{#</html>#}
{% extends "notice-base.html" %}
{% block title %}政策、通知{% endblock %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ name }}</h1>
        </div>
        {% if items %}
            <ul class="list-group">
                {% for item in items %}
                    <li class="list-group-item">
                        <a href="{{ item['url'] }}" target="_blank">【{{ item['source'] }}】{{ item['title'] }}</a>&nbsp&nbsp&nbsp&nbsp[{{ item['published_time'] }}]
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>该功能正在开发，请稍候……</p>
        {% endif %}
    </div>
{% endblock %}
